@charset "UTF-8";
/**
 * 
 * @authors maxyu (yubiaobin1986@gmail.com)
 * @date    2014-08-26 16:34:52
 * @version $Id$
 */



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* LAYOUT STYLES */
body {
    font-size: 18px;
    line-height: 1.5; 
    /*background: #fafafa;*/
    background:#fff;
    /*font-family: 'Helvetica Neue', Helvetica, Arial, serif;*/
    /*font-family: Michroma,'Segoe UI Light','Segoe UI','Segoe UI WP','Microsoft Jhenghei','微软雅黑',sans-serif,Times;*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #555;
    font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}

a {
    /*color: #d5000d;*/
    color:#0d9ba9;
}
a:hover {
    /*color: #c5000c;*/
    /*color:#0f7b86;*/
    text-decoration: underline;
}

header {
    padding-top: 15px;
    padding-bottom: 35px;
}

header h1 {
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 38px;
    color: #000;
    line-height: 1.2;
/*    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%,rgba(0,0,0,.6)), 
    color-stop(30%,rgba(0,0,0,.2)),
    color-stop(50%,rgba(0,0,0,.3)), 
    color-stop(60%,rgba(0,0,0,.6)),
    color-stop(100%,rgba(0,0,0,1)));*/
}

header h2 {
    letter-spacing: -1px;
    font-size: 24px;
    color: #aaa;
    font-weight: normal;
    line-height: 1.3;
}



#container {
    min-height: 600px;
}

.inner {
    width: 780px;
    margin: 0 auto;
}

#container .inner img {
    max-width: 100%;
}

#downloads {
    /*margin-bottom: 20px;*/
    position: fixed;
    right: -12px;
    top: 52px;
    transform:rotate(30deg);
    -ms-transform:rotate(30deg);   /* IE 9 */
    -moz-transform:rotate(30deg);  /* Firefox */
    -webkit-transform:rotate(30deg); /* Safari 和 Chrome */
    -o-transform:rotate(30deg);  /* Opera */
}

.downloads {
    margin-bottom: 20px;
}

a.button {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;                     
    border-radius: 10px;
    border-top: solid 1px #cbcbcb;
    border-left: solid 1px #b7b7b7;
    border-right: solid 1px #b7b7b7;
    border-bottom: solid 1px #b3b3b3;
    color: #303030;
    line-height: 25px;
    font-weight: bold;
    font-size: 15px;
    padding: 12px 8px 12px 8px;
    display: block;
    float: left;
    width: 179px;
    margin-right: 14px;  
    background: #fdfdfd; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* IE10+ */
    background: linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 10px 10px 5px #888;
    -moz-box-shadow: 10px 10px 5px #888;
    box-shadow: 0px 1px 5px #e8e8e8;
}
a.button:hover {
    border-top: solid 1px #b7b7b7;
    border-left: solid 1px #b3b3b3;
    border-right: solid 1px #b3b3b3;
    border-bottom: solid 1px #b3b3b3;
    background: #fafafa; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdfdfd 0%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(top,  #fdfdfd 0%,#f6f6f6, 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

a.button span {
    padding-left: 50px;
    display: block;
    height: 23px;
}


#view-on-github span {
    color:#666;
    background: transparent url("data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAXCAYAAAAYyi9XAAABpElEQVRIx7WUzUpCURDHL/ogPUKEfe2yaFFBIBIR1sqgRbhpFa2ybNEjKNHHoocIBGkXgbtalOCqhUGbMjS8XZlmrjN6Oh4vetSBPx7m/Gd+zjn3XscJDkAVUTOoUIAvxJ4i11gHsLKoV1RNyYlqvJdVclYR5WLXAOkl8UZtgHsobwCYyONa6+O01cBRGQL2bgNsSoPNxVl4vjkDr3AJcH/9T5SjPfIowKYN0L+/jYXpVvPSA4Dntn4FqOUUqNcPIKKJjsX/937z3wYUdncA3J8OUMuRl4EVQ78ukB45Km7kLzrNk9vdQCVHXgbmAgbqOeU6qtqesI8j5QmrXBsJGKbnxsrW0lxdf1BeTlK+9Hxieb5ONQP0N8bEYWItX7o9d01PabNwBbRHHvKO4juqRtrwzqWdEYYOHdlXZdhPnDNOaNqwHluMF5h8gzBqFXWKuqPmk6mjbwHKmvbYQ96wLSyGKqOoYftIpw6OjWvxcU3MBvilNIH4Y0sCEpjkVS/qwwYYVycU6P5TBy5rDUY18WHvMEP3hM3LCPlUgLQu8x1m+rnDP5+EUbVrSe0OAAAAAElFTkSuQmCC") 12px 50% no-repeat;
}

#back-to-index span {
    padding-left:6px;
}
#back-to-index {
    float:right;
    width:72px;
    margin-right:6px;
}
#back-to-index:hover{
    text-decoration: none;
}

code, pre {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
    color: #fff;
    margin-bottom: 20px;
    font-size: 14px;
}

code {
    background-color: #f2f2f2;
    border: solid 1px #ddd;
    padding: 0 3px;
    color:#ac391a;
}

pre {
    padding: 20px;
    background: #333;
    color: #fff;
    text-shadow: none;
    overflow: auto;
    border-radius:5px;
    border:3px solid #999;
}
pre code {
    color: #fff;
    background-color: #333;
    border: none;
    padding: 0;
}

ul, ol, dl {
    margin-bottom: 20px;
}


/* COMMON STYLES */

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

table {
    width: 100%;
    border: 1px solid #ebebeb;
}

th {
    font-weight: 500;
}

td {
    border: 1px solid #ebebeb;
    text-align: center; 
    font-weight: 300;
}

form {
    background: #f2f2f2;
    padding: 20px; 
}


/* GENERAL ELEMENT TYPE STYLES */

h1 {
    font-size: 28px;
} 

h2 {
    font-size: 26px;
    font-weight: bold;
    color: #303030;
    margin-bottom: 8px;
} 

h3 {
    /*color: #d5000d;*/
    color:#0d9ba9;
    font-size: 24px;
    font-weight: bold;
    /*margin-bottom: 8px;*/
    margin-bottom:36px;
    margin-top:36px;
} 
 
h4 {
    font-size: 20px;
    color: #303030;
    font-weight: bold;
    margin:10px;
} 

h5 {
    font-size: 1em;
    color: #4ac383;
} 

h6 {
    font-size: .8em;
    color: #303030;
} 

p {
    font-size:20px;
    font-weight: 300;
    /*margin-bottom: 20px;*/
    margin:10px 0;
}
 
a {
    text-decoration: none;
}

p a {
    font-weight: 400;
}

blockquote {
    font-size: 1.6em;
    border-left: 10px solid #e9e9e9;
    margin-bottom: 20px;
    padding: 0 0 0 30px;
}

ul li {
    list-style: disc inside;
    padding-left: 20px;
    text-indent:-16px;
}

ol li {
    list-style: decimal inside;
    padding-left: 3px;
}

dl dt {
    color: #303030;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 13px;
    color: #aaa;
}

footer a {
    color: #666;
}
footer a:hover {
    color: #444;
}

/* MISC */
.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #downloads {
        margin-bottom: 25px;
    }
    #download-zip, #download-tar-gz {
        display: none;
    }
    .inner {
        width: 94%;
        margin: 0 auto;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}









/*----------------------------custom style----------------------------*/
/*去除百度检测图片样式*/
img[src="http://eiv.baidu.com/hmt/icon/21.gif"]{
    display:none;
}

p{text-indent:2em;}

.index_global_year_title{
    font-size:48px;
    line-height: 60px;
    margin:20px 0;
    text-indent:24px;
    border-bottom:1px solid #ccc;
}

.pege_tail{padding-top:240px;}


.header_jekyll{color:#666;}
.header_jekyll:hover{color:#0f7b86;}



.content{
    position: relative;
    /*border-top: 1px solid #bdbdbd;*/
    /*padding-top:25px;*/
}




/*文章模板页样式*/
.author_date{margin-top:120px;}
.copyright{font-size:12px; margin-bottom:60px;}
.back_to_index{
    position: absolute;
    top:20px;
    right:20px;
}



/*首页列表样式*/
.index_list li{
    list-style:none;
    margin: 10px 0;
    padding-left:0;
    text-indent: 0;
    position:relative;
}
.index_list li a{
    display:block; 
    /*padding:10px 0 10px 10px; */
    padding:5px 0 5px 10px;
    text-shadow:none;
    border-radius:2px;
    cursor:pointer;
}
.index_list li a {
    color: #333; 
    font-size:20px;
    /*background:#ededed;*/
    cursor:pointer;
    font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
} 
.index_list li a:hover {
    /*color: #c5000c; */
    color:#0d9ba9;
    background: #d8d8d8;
    cursor:pointer;
    text-decoration:none;
}



.index_list .index_list_date{
    position:absolute;
    /*top:0;*/
    right:10px;
}
.index_list li .index_list_date{color: #6d6d6d; text-shadow:none} 
.index_list li .index_list_date:hover{color: #6d6d6d; text-shadow:none}




.p_info{
    display:block;
    text-indent:60px;
}

.li_no_disc li{
    list-style: none; 
}








table.dataintable {
    margin: 10px 0 20px 0;
    border-collapse: collapse;
    border: 1px solid #aaa;
    width: 100%;
}
table.dataintable th {
    vertical-align: baseline;
    padding: 5px 15px 5px 6px;
    background-color: #d5d5d5;
    border: 1px solid #aaa;
}
table.dataintable td {
    vertical-align: text-top;
    padding: 6px 15px 6px 6px;
    background-color: #efefef;
    border: 1px solid #aaa;
}
table.dataintable .table_feature{
    color:#0d9ba9;
    font-size:bold;
}






