---
layout: default_index
---






<div id="main_content">

	<!-- <h1>最新文章</h1> -->



	<!-- 全部列表一起输出 -->

<!-- 	<ul class="index_list">
	    {% for post in site.posts %}
	        <li>
	        	<a href="{{ site.url }}{{ post.url }}">
	        		<span>{{ post.title }}</span>	
	        		<span class="index_list_date"><span> - - - - </span>{{ post.date | date_to_string }}</span>
	        	</a>	
	        </li>
	    {% endfor %}
	</ul> -->




	<!-- 按年份输出列表 -->
	<ul class="index_list">
		{% for post in site.posts %}


		   {% unless post.next %}
		        <h1 class="index_global_year_title">{{ post.date | date: '%Y' }}</h1>
		   {% else %}
		        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
		        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
		        {% if year != nyear %}
		        <h1 class="index_global_year_title">{{ post.date | date: '%Y' }}</h1>
		        {% endif %}
		   {% endunless %}

		   <li>
		        <a href="{{ post.url }}">
		       		<span>{{ post.title }}</span>
		       		<!-- <span class="index_list_date"><span> - - - - </span>{{ post.date | date_to_string }}</span> -->
		       		<span class="index_list_date"><span> - - - - </span>{{ post.date | date:"%m-%d" }} </span>
		        </a>
		        <!-- <span class="datetime">{{ post.date | date:"%m-%d" }} </span> -->
		   </li>
		{% endfor %}
	</ul>

</div>







