<footer>
	<!-- <a href="http://yubiaobin.github.com/">返回首页</a> -->
	<span>Powered by <a href="http://pages.github.com" target="_blank">GitHub Pages</a>.</span>
	<span>Copyright &copy; 2014 by <a href="http://www.oc35.com">Maxyu</a>.</span>
	

	<script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F7cfeeba2e3844f06b817b0b2cb423ce9' type='text/javascript'%3E%3C/script%3E"));
	</script>
</footer>

